*.class

# All build and bin directories
**/build
**/build/**
**/build/*

**/bin
**/bin/**
**/bin/*

**/doc
**/doc/**
**/doc/*

**/target
**/target/**
**/target/*

# All eclipse files
**/.classpath
**/.project
**/.settings
.settings
.nb-gradle

# All IntelliJ IDEA files
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
/.cache-main
